@charset "utf-8";
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0 none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  border: none;
}
button,
input {
  vertical-align: middle;
}
button {
  cursor: pointer;
}
img {
  border: 0 none;
}
.ellipsis a {
  display: block;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis a:hover {
  color: #17a2b8;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
  width: 100%;
}
.container-fluid .blog_admin_main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
}
.container-fluid .blog_admin_main .blog_admin_center {
  padding: 40px 0 0 220px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid .blog_admin_main .blog_admin_center > ol > li > a {
  color: #333;
}
.container-fluid .blog_admin_main .blog_admin_center > ol > li.active > a {
  color: #17a2b8;
}
.container-fluid .blog_admin_main .blog_admin_center > table {
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
}
.container-fluid .blog_admin_main .blog_admin_center > table thead tr th {
  width: 16.66666667%;
  text-align: center;
  vertical-align: middle;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr {
  width: 100%;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr td.rejected {
  color: #fff;
  background-color: #fd5c63;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr td.approved {
  color: #fff;
  background-color: #32cd26;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr td .btn {
  background-color: #17a2b8;
  color: #fff;
}
.container-fluid .blog_admin_main .blog_admin_center > table tbody tr.nofound td {
  color: #fd5c63;
}
